<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
      <mat-card-subtitle>Take a picture</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div style="text-align: center">
           
            <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="imageCapture($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitched($event)"
            ></webcam>

          </div>
    </mat-card-content>
    <mat-card-actions>
        <button style="width: 100%" (click)="triggerCapture()" mat-raised-button color="primary">Capture</button>
    </mat-card-actions>
  </mat-card>
