<mat-progress-bar *ngIf="this.isLoading && !this.stateContainer" mode="indeterminate"></mat-progress-bar>
<div [style.display]="!this.stateContainer ? 'block' : 'none'" style="text-align: center;">
    <div *ngIf=this.alertContainer>
        <p>{{alertMessage}}</p>
        <button mat-raised-button (click)="this.initStreamDetection()" color="primary" i18n="@@facecamRetry">Réessayer</button>
    </div>
    <div [style.display]=this.displayStream >
      <select #devices (change)="this.startStream()" >
          <option *ngFor="let cam of this.selectors" value="{{cam.id}}">Camera {{cam.label}}</option>
      </select>
      <div id="overlayContainer" class="center">
        <video id="stream" #webcam autoplay></video>
        <canvas #canvas2 id="overlay" ></canvas>
      </div>
    </div>
</div>
<div class="preview-card">
    <div *ngIf=this.stateContainer>
        <h1>{{stateMessage}}</h1>
    </div>
</div>

