  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]=false>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div mat-card-title i18n="@@settingsCoordinator">Coordinator</div>
          </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Coordinator endPoint" type='url' [(ngModel)]="endPoint" value='{{endPoint}}'>
            </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
            <div style="text-align: center">
                <button style="width: 80%" mat-raised-button (click)='saveCoordinatorSettings()' color="primary" i18n="@@settingsSave">Save</button>
              </div>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]=false>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div mat-card-title i18n="@@settingsGroup">Link to game</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content>
            <div style='text-align: center'>
                <mat-form-field>
                    <mat-select placeholder="Game" [(ngModel)]="this.group" >
                        <mat-option *ngFor="let game of games" [value]="game.groupName">
                      {{game.groupName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            <!--<mat-form-field style="width: 100%">
              <input matInput placeholder="Group Name" type='text' [(ngModel)]="group" value='{{group}}'>
            </mat-form-field>-->
        </mat-card-content>
        <mat-card-actions>
          <div style="text-align: center">
            <button style="width: 40%; margin:5px" mat-raised-button (click)='getGame()' color="primary" i18n="@@settingsCreate" >Connect</button>
          </div>
        </mat-card-actions>
      </mat-expansion-panel>
    </mat-accordion>
