/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
  min-height: 90vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

/* icons */

/* settings icon */

svg {
  text-align: center;
  margin: auto;
  width: 50%;
  height: 50%;
}

#icon-wrench {
  margin-top: 15px;
  -webkit-animation: wrench-rotate 2s steps(3) alternate infinite;
  animation: wrench-rotate 2s steps(3) alternate infinite;
  -webkit-transform-origin: right;
  transform-origin: right;
}

@-webkit-keyframes wrench-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
}

@keyframes wrench-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
}

/* scanner icon */

#icon-aperature {
  -webkit-animation-name: shutter-cap;
  animation-name: shutter-cap;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@-webkit-keyframes shutter-cap {
  0% {
          -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  }

  25% {
          -webkit-transform: rotate(20deg) scale(0.5);
          transform: rotate(20deg) scale(0.5);
          stroke: #ea3970;
  }

  50% {
          -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  }

  75% {
          -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  }

  100% {
          -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  }
}

@keyframes shutter-cap {
  0% {
          -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  }

  25% {
          -webkit-transform: rotate(20deg) scale(0.5);
          transform: rotate(20deg) scale(0.5);
          stroke: #ea3970;
  }

  50% {
          -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  }

  75% {
          -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  }

  100% {
          -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  }
}


/* translate icon */

#icon-reload {
  -webkit-animation: reload 2s steps(4) infinite;
  animation: reload 2s steps(4) infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-webkit-keyframes reload {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes reload {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* vault icon */

#icon-server .ind1 {
  -webkit-animation-name: ind1;
  animation-name: ind1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

#icon-server .ind2 {
  -webkit-animation-name: ind2;
  animation-name: ind2;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@-webkit-keyframes ind1 {

  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes ind1 {

  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@-webkit-keyframes ind2 {

  25%,
  75% {
    opacity: 1;
  }

  from,
  50%,
  to {
    opacity: 0;
  }
}

@keyframes ind2 {

  25%,
  75% {
    opacity: 1;
  }

  from,
  50%,
  to {
    opacity: 0;
  }
}

/* clock icon */

#icon-speed {
  -webkit-transform: rotate(80deg);
  transform: rotate(80deg);
}

#icon-speed .meter-r {
  -webkit-animation-name: run-meter;
  animation-name: run-meter;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-webkit-keyframes run-meter {
  0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }

  50% {
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  }

  100% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }
}

@keyframes run-meter {
  0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }

  50% {
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  }

  100% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  }
}

/* chatbot icon */
#icon-notification {
  -webkit-animation: ring 4s .7s ease-in-out infinite;
  animation: ring 4s .7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  1% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  3% {
    -webkit-transform: rotate(-28deg);
    transform: rotate(-28deg);
  }

  5% {
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
  }

  7% {
    -webkit-transform: rotate(-32deg);
    transform: rotate(-32deg);
  }

  9% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  11% {
    -webkit-transform: rotate(-28deg);
    transform: rotate(-28deg);
  }

  13% {
    -webkit-transform: rotate(26deg);
    transform: rotate(26deg);
  }

  15% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  17% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  19% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  21% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  23% {
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
  }

  25% {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
  }

  27% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  29% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  31% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  33% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  35% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  37% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  39% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  41% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }

  43% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  1% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  3% {
    -webkit-transform: rotate(-28deg);
    transform: rotate(-28deg);
  }

  5% {
    -webkit-transform: rotate(34deg);
    transform: rotate(34deg);
  }

  7% {
    -webkit-transform: rotate(-32deg);
    transform: rotate(-32deg);
  }

  9% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  11% {
    -webkit-transform: rotate(-28deg);
    transform: rotate(-28deg);
  }

  13% {
    -webkit-transform: rotate(26deg);
    transform: rotate(26deg);
  }

  15% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  17% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  19% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }

  21% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  23% {
    -webkit-transform: rotate(-16deg);
    transform: rotate(-16deg);
  }

  25% {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
  }

  27% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  29% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  31% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  33% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }

  35% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }

  37% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  39% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  41% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }

  43% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
