<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]=false>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div mat-card-title i18n="@@settingsCoordinator">Coordinateur</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
      <mat-card-content>
          <mat-form-field style="width: 100%">
                <input matInput placeholder="EndPoint" type='url' [(ngModel)]="endPoint" value='{{endPoint}}'>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
            <div style="text-align: center">
                <button style="width: 40%; margin:5px" mat-raised-button (click)='saveCoordinatorSettings()' color="primary" i18n="@@settingsSave">Sauver</button>
            </div>
      </mat-card-actions>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]=false>
    <mat-expansion-panel-header>
      <mat-panel-title>
          <div mat-card-title i18n="@@settingsGroup">Lier une partie</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <div style='text-align: center'>
        <mat-form-field>
          <mat-select placeholder="Game" [(ngModel)]="this.game.groupName" [disabled]="this.connected">
            <mat-option *ngFor="let game of games" [value]="game.groupName">
              {{game.groupName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div style="text-align: center">
        <button style="width: 40%; margin:5px" mat-raised-button (click)='getGame()' color="primary" i18n="@@settingsCreate" [disabled]="this.connected" >Connecter</button>
      </div>
      <div style="text-align: center">
        <button style="width: 40%; margin:5px" mat-raised-button (click)='disconnect()' color="primary" i18n="@@settingsCreate" [disabled]="!this.connected">Déconnexion</button>
      </div>
    </mat-card-actions>
  </mat-expansion-panel>
</mat-accordion>

  <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]=false>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div mat-card-title i18n="@@settingsRefreshRate">Taux de rafraichissement</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content>
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Taux de rafraichissement (ms)" type='number' [disabled]='this.game.config.refreshRate > 0' [(ngModel)]="this.game.config.refreshRate" value='{{refreshRate}}'>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <div style="text-align: center">
            <button style="width: 40%; margin:5px" mat-raised-button (click)='saveRefreshRate()'  color="primary" i18n="@@settingsSave">Sauver</button>
          </div>
    </mat-card-actions>
  </mat-expansion-panel>
</mat-accordion>

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]=false>
      <mat-expansion-panel-header>
          <mat-panel-title>
              <div mat-card-title>Face</div>
          </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
            <mat-slide-toggle [(ngModel)]='callFaceStatus' color="primary" (click)='this.toggleFaceCalls()' i18n="@@settingsCognitives">Appels API</mat-slide-toggle>
            <br><br>
            <mat-form-field style="width: 100%">
                <input matInput placeholder="EndPoint" type='url' [disabled]='this.game.config.faceEndpoint !== null' [(ngModel)]="endPointCognitive" value='{{endPointCognitive}}'>
            </mat-form-field>
            <br><br>
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Clé" type='url' [disabled]='this.game.config.faceKey !== null' [(ngModel)]="subscriptionKey" value='{{subscriptionKey}}'>
            </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
            <div style="text-align: center">
              <button style="width: 40%; margin:5px" mat-raised-button (click)='saveFaceSettings()' color="primary" i18n="@@settingsSave">Sauver</button>
            </div>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]=false>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div mat-card-title>Custom VISION</div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content>
              <mat-slide-toggle [(ngModel)]='callCustomVisionStatus' color="primary" (click)='this.toggleCustomVisionCalls()' i18n="@@settingsCognitives">Appels API</mat-slide-toggle>
              <br><br>
              <mat-form-field style="width: 100%">
                  <input matInput placeholder="EndPoint" type='url' [disabled]='this.game.config.visionEndpoint !== null' [(ngModel)]="endPointCustomVision" value='{{endPointCustomVision}}'>
              </mat-form-field>
              <br><br>
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Clé" type='url' [disabled]='this.game.config.visionKey !== null' [(ngModel)]="subscriptionKeyCustomVision" value='{{subscriptionKeyCustomVision}}'>
              </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
              <div style="text-align: center">
                <button style="width: 40%; margin:5px" mat-raised-button (click)='saveCustomVisionSettings()' color="primary" i18n="@@settingsSave">Sauver</button>
              </div>
        </mat-card-actions>
      </mat-expansion-panel>
    </mat-accordion>
