<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]=false>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div mat-card-title i18n="@@settingsCoordinator">Coordinateur</div>
          </mat-panel-title>
          </mat-expansion-panel-header>
      <mat-card-content>
          <mat-form-field style="width: 100%">
                <input matInput placeholder="EndPoint" type='url' [(ngModel)]="endPoint" value='{{endPoint}}'>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
            <div style="text-align: center">
                <button style="width: 40%; margin:5px" mat-raised-button (click)='saveCoordinatorSettings()' color="primary" i18n="@@settingsSave">Sauver</button>
            </div>
      </mat-card-actions>
    </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]=false>
    <mat-expansion-panel-header>
      <mat-panel-title>
          <div mat-card-title i18n="@@settingsGroup">Lier une partie</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <div style='text-align: center'>
        <mat-form-field>
          <mat-select placeholder="Game" [(ngModel)]="this.game.groupName" >
            <mat-option *ngFor="let game of games" [value]="game.groupName">
              {{game.groupName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div style="text-align: center">
        <button style="width: 40%; margin:5px" mat-raised-button (click)='getGame()' color="primary" i18n="@@settingsCreate" >Connecter</button>
      </div>
    </mat-card-actions>
  </mat-expansion-panel>
</mat-accordion>

  <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]=false>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div mat-card-title i18n="@@settingsRefreshRate">Taux de rafraichissement</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content>
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Taux de rafraichissement (ms)" type='number' min='1000' [(ngModel)]="this.game.config.refreshRate" value='{{this.game.config.refreshRate}}'>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <div style="text-align: center">
            <button style="width: 40%; margin:5px" mat-raised-button (click)='saveConfiguration()'  color="primary" i18n="@@settingsSave">Sauver</button>
          </div>
    </mat-card-actions>
  </mat-expansion-panel>
</mat-accordion>

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]=false>
      <mat-expansion-panel-header>
          <mat-panel-title>
              <div mat-card-title>Face</div>
          </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
            <mat-slide-toggle [(ngModel)]='callFaceStatus' color="primary" (click)='this.toggleFaceCalls()' i18n="@@settingsCognitives">Appels API</mat-slide-toggle>
            <br><br>
            <mat-form-field style="width: 100%">
                <input matInput placeholder="EndPoint" type='url' [(ngModel)]="this.game.config.faceEndpoint" value='{{this.game.config.faceEndpoint}}'>
            </mat-form-field>
            <br><br>
            <mat-form-field style="width: 100%">
              <input matInput placeholder="Clé" type='url' [(ngModel)]="this.game.config.faceKey" value='{{this.game.config.faceKey}}'>
            </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
            <div style="text-align: center">
              <button style="width: 40%; margin:5px" mat-raised-button (click)='saveConfiguration()' color="primary" i18n="@@settingsSave">Sauver</button>
            </div>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]=false>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div mat-card-title>Custom VISION</div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content>
            <mat-slide-toggle [(ngModel)]='callCustomVisionStatus' color="primary" (click)='this.toggleCustomVisionCalls()' i18n="@@settingsCognitives">Appels API</mat-slide-toggle>
            <br><br>
            <legend>Longueur des cheveux</legend>
              <br>
              <mat-form-field style="width: 100%">
                  <input matInput placeholder="EndPoint" type='url' [(ngModel)]="this.game.config.visionEndpoint" value='{{this.game.config.visionEndpoint}}'>
              </mat-form-field>
              <br><br>
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Clé" type='text' [(ngModel)]="this.game.config.visionKey" value='{{this.game.config.visionKey}}'>
              </mat-form-field>
            <hr>
            <legend>Couleur de peau</legend>
                <br>
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="EndPoint" type='url' [(ngModel)]="this.game.config.visionEndpointSkinColor" value='{{this.game.config.visionEndpointSkinColor}}'>
                </mat-form-field>
                <br><br>
                <mat-form-field style="width: 100%">
                  <input matInput placeholder="Clé" type='text' [(ngModel)]="this.game.config.visionKeySkinColor" value='{{this.game.config.visionKeySkinColor}}'>
                </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
              <div style="text-align: center">
                <button style="width: 40%; margin:5px" mat-raised-button (click)='saveConfiguration()' color="primary" i18n="@@settingsSave">Sauver</button>
              </div>
        </mat-card-actions>
      </mat-expansion-panel>
    </mat-accordion>
