.timeclock {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background: #D9D7DD;*/
}

.clock {
  border-radius: 100%;
  background: #ffffff;
  font-family: "Montserrat";
  border: 5px solid white;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.minute,
.hour {
  position: absolute;
  height: 100px;
  width: 6px;
  margin: auto;
  top: -27%;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.minute {
  position: absolute;
  height: 130px;
  width: 4px;
  top: -38%;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.second {
  position: absolute;
  height: 90px;
  width: 2px;
  margin: auto;
  top: -26%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: #FF4B3E;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 1;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 100px;
  margin: auto;
  z-index: 1;
}
