<div>
  <h1 *ngIf='this.displayTimer' class='gradient' style='display:block; margin:0; text-align: center; color:white '>{{ this.time }} SECONDES RESTANTES</h1>
  <!-- <mat-grid-list cols="4" rowHeight="2:1">

    <ng-container *ngTemplateOutlet="teams.length ? TeamsHandle : UserCard; context: {$implicit: this}"></ng-container>

    <ng-template #TeamsHandle let-TeamsContainer>
      <ng-container *ngFor="let tc of TeamsContainer.teams">
        <ng-container *ngTemplateOutlet="UserCard; context: {$implicit: tc}"></ng-container>
      </ng-container>
    </ng-template>

    <ng-template #UserCard let-UsersContainer>
      <div *ngFor="let u of UsersContainer.users" >
          <mat-grid-tile *ngIf="u.recognized >= this.minimumRecognized">
              <mat-card [style.background-color]='getTeamColor(UsersContainer?.teamColor)' [style.box-shadow]='isHighLighted(u.userId)' [ngClass]='hasFinished(UsersContainer?.teamId)'>
                  <div style="width: calc(40%);">
                    <img mat-card-image src="{{ u.urlAvatar }}" alt="Avataaars">
                  </div>
                  <div style="width: calc(60%); padding: 10px;">
                    <mat-card-title style="font-size:2vw;">{{truncateName(u.name)}}</mat-card-title>
                    <mat-card-content>
                      <div>
                        <div style="margin: 10px 10px 10px 0px;"><span i18n="@@leaderboardAge" style="font-size:1vw;">{{ u.age}} ans</span></div>
                        <div style="margin: 10px 10px 10px 0px;">
                          <ng-container *ngTemplateOutlet="UsersContainer.teamName ? TeamsName : RecognizedDetails; context: {container: UsersContainer, user: u}"></ng-container>
                        </div>
                      </div>
                    </mat-card-content>
                  </div>
                </mat-card>
        </mat-grid-tile>
      </div>
    </ng-template>

    <ng-template #TeamsName let-container='container'>
      <span i18n="@@leaderboardRecognized" style="font-size:1vw;">{{ container.teamName.toUpperCase()}}</span>
    </ng-template>

    <ng-template #RecognizedDetails let-user='user'>
      <span i18n="@@leaderboardRecognized" style="font-size:1vw;">aperçu {{ user.recognized }} fois</span>
    </ng-template>

  </mat-grid-list> -->
  <mat-grid-list cols="1" rowHeight="7:1">
    <div *ngFor="let t of teams" >
      <mat-grid-tile>
          <mat-card [ngClass]='hasFinished(t?.teamId)' style="padding: 0px;">
            <div [style.background-color]='getTeamColor(t?.teamColor)' style="width: calc(2%); border-top-left-radius: inherit; border-bottom-left-radius: inherit;"></div>
            <div style="padding: 30px; position: relative;">
              <mat-card-title style="font-size:2vw;">{{t.teamName.toUpperCase()}}</mat-card-title>
              <div style="position: absolute; right: 30px; top: 30px; height: 100px; width: auto;">
                  <ng-container *ngFor="let c of t.challenges">
                      <div class="circle" style="width: 100px;"></div>
                  </ng-container>
                </div>
              <div style="position: absolute; bottom: 30px; height: auto;">
                <ng-container *ngFor="let u of t.users">
                  <img style="width: calc(5%);" src="{{ u.urlAvatar + '&avatarStyle=Circle' }}" alt="Avataaars">
                </ng-container>
              </div>
            </div>
          </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>


