<div>
  <mat-grid-list cols="4" rowHeight="2:1">

    <ng-container *ngTemplateOutlet="teams.length ? TeamsHandle : UserCard; context: {$implicit: this}"></ng-container>

    <ng-template #TeamsHandle let-TeamsContainer>
      <ng-container *ngFor="let tc of TeamsContainer.teams">
        <ng-container *ngTemplateOutlet="UserCard; context: {$implicit: tc}"></ng-container>
      </ng-container>
    </ng-template>

    <ng-template #UserCard let-UsersContainer>
      <mat-grid-tile *ngFor="let u of UsersContainer.users">
        <mat-card [style.background-color]='getTeamColor(UsersContainer?.teamColor)' [style.box-shadow]='isHighLighted(u.userId)'>
          <div style="width: calc(40%);">
            <img mat-card-image src="{{ u.urlAvatar }}" alt="Avataaars">
          </div>
          <div style="width: calc(60%); padding: 10px;">
            <mat-card-title>{{u.name}}</mat-card-title>
            <mat-card-content>
              <div>
                <div style="margin: 10px 10px 10px 0px;"><span i18n="@@leaderboardAge">{{ u.age}} ans</span></div>
                <div style="margin: 10px 10px 10px 0px;">
                  <ng-container *ngTemplateOutlet="UsersContainer.teamName ? TeamsName : RecognizedDetails; context: {container: UsersContainer, user: u}"></ng-container>
                </div>
              </div>
            </mat-card-content>
          </div>
        </mat-card>
      </mat-grid-tile>
    </ng-template>

    <ng-template #TeamsName let-container='container'>
      <span i18n="@@leaderboardRecognized">{{ container.teamName.toUpperCase()}}</span>
    </ng-template>

    <ng-template #RecognizedDetails let-user='user'>
      <span i18n="@@leaderboardRecognized">aperçu {{ user.recognized}} fois</span>
    </ng-template>

  </mat-grid-list>
</div>


