.title-center {
  flex: 1 1 auto;
  text-align: center;
}

mat-card {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  padding: 10px;
  display: flex;
}

mat-card div {
  width: calc(100%);
  height: calc(100%);
}

.mat-card-image {
  height: calc(100%);
}

.mat-card-image:first-child {
  margin-top: -5px;
}


/* gradient effect win */

.gradient {
  background: rgba(255, 0, 89, 1);
  background: -webkit-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
  background: -moz-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
  background: linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
  background-size: 400% 400%;
  -webkit-animation: gradientBg 5s linear infinite;
  -moz-animation: gradientBg 5s linear infinite;
  animation: gradientBg 5s linear infinite;
}

mat-card-title.gradient {
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@-webkit-keyframes gradientBg {
  0% {
      background-position: 100% 0%
  }
  100% {
      background-position: 15% 100%
  }
}

@-moz-keyframes gradientBg {
  0% {
      background-position: 100% 0%
  }
  100% {
      background-position: 15% 100%
  }
}

@keyframes gradientBg {
  0% {
      background-position: 100% 0%
  }
  100% {
      background-position: 15% 100%
  }
}

.circle {
  margin-left: 10px;
  border-color: green;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 50%;
  flex-shrink: 0;
}
