.example-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.example-container > * {
  width: 100%;
}

.img-profil {
  height: 25%;
  width: 25%;
  background-color: skyblue;
  border-radius: 25px;
}

.content {
  height: 95vh;
  padding-right: 10%;
  padding-left: 10%;
  overflow-y: auto;
}


