<div id="content">
    <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile [colspan]="3">
            <audio #player controls autoplay playsinline></audio>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" class="num" (click)="this.launchRadio(0)" [disabled]="this.radioLaunched[0]">Radio Contact</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" class="num" (click)="this.launchRadio(1)" [disabled]="this.radioLaunched[1]">Classic 21</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" class="num" (click)="this.launchRadio(2)" [disabled]="this.radioLaunched[2]">NRJ</button>
        </mat-grid-tile>
      </mat-grid-list>
</div>
