<div class="launcher">
<mat-toolbar  role="heading" [style.background-color]="getColorTeam()" >
  <mat-toolbar-row style="text-align:center">
      <h3>Hello {{user.name}},</h3>
      <span class="example-spacer"></span>
      <h3> {{ teamUser?.teamName | uppercase }} </h3>
      <span class="example-spacer"></span>
      <button (click)=logOut() mat-stroked-button >
          <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="4" rowHeight="3:3">
  <mat-grid-tile>
      <a class='launcher-app' mat-raised-button routerLink="/scanner">
        <h3>Scanner</h3>
        <div class="app-icon"><mat-icon class='app-mat-icon' aria-label="Scanner">control_camera</mat-icon></div>
      </a>
  </mat-grid-tile>
  <mat-grid-tile>
      <a class='launcher-app' mat-raised-button routerLink="/translator">
        <h3>Traducteur</h3>
        <div class="app-icon"><mat-icon class='app-mat-icon' aria-label="translate">translate</mat-icon></div>
      </a>
  </mat-grid-tile>
  <mat-grid-tile>
      <a class='launcher-app' mat-raised-button routerLink="/profil">
        <h3>Profil</h3>
        <img src='{{ user.urlAvatar }}' class="img-profil">
      </a>
  </mat-grid-tile>
  <mat-grid-tile>
      <a class='launcher-app' mat-raised-button routerLink="/vault">
        <h3>Vault</h3>
        <div class="app-icon"><mat-icon class='app-mat-icon' aria-label="vault">lock</mat-icon></div>
      </a>
  </mat-grid-tile>
  <mat-grid-tile>
      <a class='launcher-app' mat-raised-button routerLink="/settings">
        <h3>Paramètres</h3>
        <div class="app-icon"><mat-icon class='app-mat-icon' aria-label="settings">settings</mat-icon></div>
      </a>
  </mat-grid-tile>

</mat-grid-list>
</div>
