
.example-spacer {
  flex: 1 1 auto;
}

.launcher {
  height: 90vh;
  overflow-y: auto;
}

.launcher-app {
  height: 80%;
  width: 80%;
  border-radius: 5%;
  margin: 10%;
  padding: 10%
}

.launcher-app:hover {
  background: lightgray;
  box-shadow: 1px 1px 5px black;
}

.launcher-app:active {
  background: darkgray;
  box-shadow: -1px -1px 3px black;
}

.app-mat-icon, .img-profil {
  font-size: 150px;
  height: 150px;
  width: 150px;
}

.app-icon {
  text-align: center;
  display: block;
}
