
.example-spacer {
  flex: 1 1 auto;
}

mat-grid-tile {
  background: white;
  box-shadow: 3px 3px 5px black;
}

mat-grid-tile:hover {
  background: lemonchiffon;
  box-shadow: 1px 1px 5px black;
}

mat-grid-tile:active {
  background: wheat;
  box-shadow: -1px -1px 3px black;
}

.launcher {
  height: 100vh;
  overflow-y: auto;
}

.launcher-app {
  height: 100%;
  width: 100%;
}

.material-icons {
  font-size: 100px;
  height: 100px;
  width: 100px;
}


