<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]=true>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div mat-card-title i18n="@@settingsChallenge">Challenge</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <div style="text-align: center">
      <mat-form-field style="width: 90%">
        <input matInput placeholder="Titre" type='text' [(ngModel)]="challenge.title" value='{{challenge.title}}'>
      </mat-form-field>

      <mat-form-field style="width: 90%">
          <textarea matInput placeholder="Description" type='text' [(ngModel)]="challenge.description" value='{{challenge.description}}'></textarea>
      </mat-form-field>

      <mat-form-field style="width: 90%">
          <mat-select i18n="@@settingsConfiguration" [(ngModel)]="challenge.appName" placeholder="App name" >
            <mat-option *ngFor="let app of this.appSelections; let i = index" [value]="app">
              {{app}}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 90%">
        <input matInput placeholder="Order" type='text' [(ngModel)]="challenge.order" value='{{challenge.order}}'>
      </mat-form-field>

      <mat-form-field style="width: 90%">
        <input matInput placeholder="Time Box" type='text' [(ngModel)]="challenge.timeBox" value='{{challenge.timeBox}}'>
      </mat-form-field>

      <!-- answers : List -->
      <div *ngFor="let item of challenge.answers">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Réponses" type='text' [(ngModel)]="item" disabled>
        </mat-form-field>
      </div>
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Réponse" type='text' [(ngModel)]="currentAnswer" >
      </mat-form-field>
      <button style="width: 49%; margin:5px" mat-raised-button (click)='removeAnswer()' color="warn" >Retirer une réponse</button>
      <button style="width: 49%; margin:5px" mat-raised-button (click)='addAnswer()' color="primary" >Ajouter une réponse</button>

      <!-- Hints : List -->
      <div *ngFor="let item of challenge.hints">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Indice" type='text' [(ngModel)]="item" disabled>
        </mat-form-field>
      </div>
      <mat-form-field style="width: 100%">
        <input matInput placeholder="indice" type='text' [(ngModel)]="currentHint" >
      </mat-form-field>

      <button style="width: 49%; margin:5px" mat-raised-button (click)='removeHint()' color="warn" >Retirer une indice</button>
      <button style="width: 49%; margin:5px" mat-raised-button (click)='addHint()' color="primary" >Ajouter un indice</button>

      <!-- Config : dictionary -->
      <div *ngFor="let item of challenge.config | keyvalue">
        <mat-form-field style="width: 45%;margin: 2%">
          <input matInput placeholder="Clé" type='text' [(ngModel)]="item.key" disabled>
        </mat-form-field>
        <mat-form-field style="width: 45%;margin: 2%">
          <input matInput placeholder="Valeur" type='text' [(ngModel)]='item.value' disabled>
        </mat-form-field>
        <button style="width: 100%; margin:5px" mat-raised-button (click)='removeConfig(item.key)' color="warn" >Retirer une configuration</button>
      </div>
      <mat-form-field style="width: 45%;margin: 2%">
        <input matInput placeholder="Clé" type='text' [(ngModel)]="currentKey">
      </mat-form-field>
      <mat-form-field style="width: 45%;margin: 2%">
        <input matInput placeholder="Valeur" type='text' [(ngModel)]='currentValue'>
      </mat-form-field>
      <button style="width: 100%; margin:5px" mat-raised-button (click)='addConfig()' color="primary" >Ajouter une configuration</button>

    </div>
    </mat-card-content>
    <mat-card-actions>
      <div style="text-align: center">
        <button style="width: 40%; margin:5px" mat-raised-button (click)='createChallenge()' color="primary" i18n="@@settingsCreate" >Create</button>
      </div>
    </mat-card-actions>
  </mat-expansion-panel>
</mat-accordion>
<br>
<h1 style='text-align: center'>Liste de Challenges</h1>
<br>
<table mat-table [dataSource]="challenges" multiTemplateDataRows class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.challengeId}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Titre </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="appName">
    <th mat-header-cell *matHeaderCellDef> appName </th>
    <td mat-cell *matCellDef="let element">{{element.appName}}</td>
  </ng-container>

  <ng-container matColumnDef="order">
    <th mat-header-cell *matHeaderCellDef> order </th>
    <td mat-cell *matCellDef="let element">{{element.order}}</td>
  </ng-container>

  <ng-container matColumnDef="timeBox">
    <th mat-header-cell *matHeaderCellDef> timeBox </th>
    <td mat-cell *matCellDef="let element">{{element.timeBox}}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button style="width: 40%; margin:5px" mat-raised-button (click)='deleteChallenge(element)' color="accent" i18n="@@settingsDelete">Delete</button>
      </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="challenge-element-detail" [@detailExpand]="element == expandedChallenge ? 'expanded' : 'collapsed'">
        <mat-grid-list cols="3" style="display: block;">
          <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div>
              <h3>Description</h3>
              <div class="challenge-element-description">
                {{element.description}}
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <h3>Hints</h3>
              <mat-list>
                <mat-list-item *ngFor="let hint of element.hints">
                    {{hint}}
                </mat-list-item>
              </mat-list>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <h3>Answers</h3>
              <mat-list>
                <mat-list-item *ngFor="let answer of element.answers">
                    {{answer}}
                </mat-list-item>
              </mat-list>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div>
              <h3>Config</h3>
              <mat-list>
                <mat-list-item *ngFor="let config of element.config | keyvalue">
                    {{config.key}}:{{config.value}}
                </mat-list-item>
              </mat-list>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="challenge-element-row"
      [class.challenge-expanded-row]="expandedChallenge === element"
      (click)="expandedChallenge = expandedChallenge === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="challenge-detail-row"></tr>
</table>
