#buttonAdd {
  width: 100%
}
#buttonRemove {
  width: 100%
}
.example-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.example-container > * {
  width: 100%;
}
.content {
  height: 93vh;
}
