
#main {
  height: 92vh;
}
.control {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100px;
  background-color: #9fa8da;
  justify-content: space-around;
  width: 100vw;
}

/*Sidenav*/

/*
.container-sidenav {
  height: 95vh;
}*/

.sidenav {
  width: 40vw;
}
/*
.content {
  height: 95vh;
}*/

.mat-slide-toggle-thumb{
  height: 0;
}



