<div id="main">
  <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
          (closed)="events.push('close!')">
        <app-chat *ngIf=isLogged() (close)=setSidenav($event) [isOpen]=this.sidenavEmitter ></app-chat>
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
  </div>
  <div class="control" style="text-align:center;">
    <mat-slide-toggle  style="text-align:center;" [(ngModel)]="opened">Chat</mat-slide-toggle>
    <app-control (actions)=toggleAction($event) ></app-control>
  </div>
