<div style="padding-top: 3%; padding-left: 5%; padding-right: 5%; height: 82vh; overflow: auto">
  <mat-card [style.background-color]='message.color' style="margin-bottom: 2%" *ngFor="let message of messages" >
    {{message.name}}
  </mat-card>
</div>
<div style="height: 10vh;">
  <mat-form-field style="width: 80%;margin-left: 10%; margin-right: 10%">
    <textarea [(ngModel)]=question (keyup.enter)=askStephane() matInput placeholder="Demander a Stéphane (enter pour envoyer)"></textarea>
  </mat-form-field>
</div>
<audio style="display:none" #player controls autoplay playsinline></audio>
