<mat-progress-bar *ngIf="this.isLoading" mode="indeterminate"></mat-progress-bar>
<div style="text-align: center;">
    <div *ngIf=this.alertContainer>
        <p>{{alertMessage}}</p>
        <button mat-raised-button (click)="this.initStreamDetection()" color="primary" i18n="@@facecamRetry">Retry</button>
    </div>
    <div [style.display]=this.displayStream >
      <select #devices (change)="this.startStream()" >
          <option *ngFor="let cam of this.selectors" value="{{cam.id}}">Camera {{cam.label}}</option>
      </select>
      <div id="overlayContainer" class="center">
        <video id="stream" #webcam autoplay></video>
        <canvas #canvas2 id="overlay" ></canvas>
      </div>
    </div>
</div>
<div class="preview-card">
    <mat-accordion class="example-headers-align" >
        <mat-expansion-panel [expanded]='lastUsers.length > 0'>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <div mat-card-title>Preview results: {{lastUsers.length}}</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card-content>
            <div *ngFor="let item of lastUsers">
              <mat-grid-list cols="2" [rowHeight]=200>
                <mat-grid-tile>
                    <div mat-card-avatar class="example-header-image"><img width=100% class='img-avatar' src='{{ item.urlAvatar }}'></div>
                </mat-grid-tile>
                  <mat-grid-tile>
                          <div *ngIf=item.faces[item.faces.length-1]>
                            <tr><td i18n="@@leaderboardAge">Age</td><td>{{ item.age}}</td></tr>
                            <tr><td i18n="@@leaderboardGender">Gender</td><td>{{ item.gender === 0 ? 'male' : 'female' }}</td></tr>
                            <tr><td i18n="@@leaderboardSmile">smileLevel</td><td>{{ item.smileLevel }}</td></tr>
                            <tr><td i18n="@@leaderboardMoustache">moustacheLevel</td><td>{{ item.moustacheLevel }}</td></tr>
                            <tr><td i18n="@@leaderboardBeard">beardLevel</td><td>{{ item.beardLevel }}</td></tr>
                            <tr><td i18n="@@leaderboardBald">baldLevel</td><td>{{ item.baldLevel }}</td></tr>
                            <tr><td i18n="@@leaderboardHair">HairColor</td><td>{{ item.hairColor }}</td></tr>
                            <tr><td i18n="@@leaderboardGlasses">glassesType</td><td>{{ item.glassesType}}</td></tr>
                            <tr><td i18n="@@leaderboardSkin">SkinColor</td><td>{{ item.skinColor}}</td></tr>
                          </div>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>
</div>

