<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]=false>
    <mat-expansion-panel-header>
      <mat-panel-title>
          <div mat-card-title i18n="@@settingsGroup">Lier une Team</div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
        <div style='text-align: center'>
            <mat-form-field>
                <mat-select placeholder="Team" [(ngModel)]="team.teamName">
                    <mat-option *ngFor="let team of teams" [value]="team.teamName">
                  {{team.teamName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    </mat-card-content>
    <mat-card-actions>
      <div style="text-align: center">
        <button style="width: 40%; margin:5px" mat-raised-button color="primary" i18n="@@settingsCreate" (click)="getTeam(this.team.teamName)" >Sauver</button>
      </div>
    </mat-card-actions>
  </mat-expansion-panel>
</mat-accordion>

<div class='content' style='display: none'>
  <div [style.display]=this.displayStream style="text-align: center;">
      <mat-progress-bar *ngIf="this.isLoading" mode="indeterminate"></mat-progress-bar>
        <div>
          <select #devices (change)="this.startStream()" >
              <option *ngFor="let cam of this.selectors" value="{{cam.id}}">Camera {{cam.label}}</option>
          </select>
          <div id="overlayContainer" class="center">
            <video id="stream" #webcam autoplay></video>
            <canvas #canvas2 id="overlay" ></canvas>
          </div>
        </div>
  </div>
</div>
