<div class="example-container">
    <mat-form-field>
        <input matInput placeholder="Coordinator endPoint" type='url' [(ngModel)]="endPoint" value='{{endPoint}}'>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Cognitive endPoint" type='url' [(ngModel)]="endPointCognitive" value='{{endPointCognitive}}'>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="SubscriptionKey" type='url' [(ngModel)]="subscriptionKey" value='{{subscriptionKey}}'>
    </mat-form-field>
    <button mat-raised-button color='primary' (click)='test()' *ngIf="!testResult">Test</button>
    <button mat-raised-button *ngIf="testResult" (click)='save()' disabled='{{!saved}}'>Save</button>
    <br><mat-divider></mat-divider><br>
    <mat-form-field>
        <input matInput placeholder="Group Name" type='text' [(ngModel)]="group" value='{{group}}'>
    </mat-form-field>
    <button mat-raised-button (click)='get()' color="primary">Get</button>
    <br>
    <button mat-raised-button (click)='create()' color="primary">Create</button>
    <br>
    <button mat-raised-button (click)='delete()' color="accent">Delete</button>
  </div>
