

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]=false>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div mat-card-title>Coordinator</div>
          </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Coordinator endPoint" type='url' [(ngModel)]="endPoint" value='{{endPoint}}'>
            </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
            <div style="text-align: center">
                <button style="width: 80%" mat-raised-button (click)='saveCoordinatorSettings()' color="primary">Save</button>
              </div>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]=false>
      <mat-expansion-panel-header>
          <mat-panel-title>
              <div mat-card-title>Face API</div>
          </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
            <mat-slide-toggle [(ngModel)]='callStatus' color="primary" (click)='this.toggleCognitiveCalls()'>Cognitives calls</mat-slide-toggle>
            <br><br>
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Cognitive endPoint" type='url' [(ngModel)]="endPointCognitive" value='{{endPointCognitive}}'>
            </mat-form-field>
            <br><br>
            <mat-form-field style="width: 100%">
              <input matInput placeholder="SubscriptionKey" type='url' [(ngModel)]="subscriptionKey" value='{{subscriptionKey}}'>
            </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
            <div style="text-align: center">
              <button style="width: 80%" mat-raised-button (click)='saveFaceSettings()' color="primary">Save</button>
            </div>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]=false>
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div mat-card-title>Group</div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card-content>
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Group ID" type='text' [(ngModel)]="group" value='{{group}}'>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <div style="text-align: center">
            <button style="width: 40%; margin:5px" mat-raised-button (click)='create()' color="primary">Create</button>
            <button style="width: 40%; margin:5px" mat-raised-button (click)='delete()' color="accent">Delete</button>
          </div>
        </mat-card-actions>
      </mat-expansion-panel>
    </mat-accordion>

