<mat-accordion class="example-headers-align">
    <mat-expansion-panel (opened)="setStep(0)" >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>account_circle</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
          <div mat-card-avatar class="example-header-image"></div>
      </mat-card-content>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
