<h1 style='text-align: center'>Teams</h1>
  <div style='text-align: center'>
    <mat-form-field>
      <mat-select placeholder="Game" >
        <mat-option *ngFor="let game of games" [value]="game.gameId" (click)="loadTeams(game.gameId)">
          {{game.groupName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf='teams'>
    <ng-container
      *ngIf="teams.length; then CreatedTeam; else CreateTeam">
    </ng-container>
  </div>
  <ng-template #CreateTeam>
    <form class="example-container" style='text-align: left;'>
      <mat-form-field style='margin: 2%;'>
        <input matInput i18n-placeholder="@@TeamsNumber" placeholder="Number of teams" type='number' [(ngModel)]="nbTeams" min="0" name="nbTeams">
      </mat-form-field>
      <button mat-raised-button (click)='createTeam()' color="primary">Create</button>
    </form>
  </ng-template>
  <ng-template #CreatedTeam>
    <form class="example-container" style='text-align: right; margin: 1%;'>
        <button mat-raised-button color="accent" i18n="@@settingsDelete" (click)='deleteTeams()'>Delete all teams</button>
    </form>
    <table mat-table [dataSource]="teams" class="mat-elevation-z8">

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.teamName}} </td>
      </ng-container>

      <ng-container matColumnDef="Color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let element"> {{element.teamColor}} </td>
      </ng-container>

      <ng-container matColumnDef="Users">
        <th mat-header-cell *matHeaderCellDef> Number of users </th>
        <td mat-cell *matCellDef="let element"> {{element.users.length}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-template>

