.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.example-card {
  height: 90vh;
  border-radius: 0px;
}


#mainLock {
  height: 100vh;
  overflow: hidden;
}
