<mat-toolbar color="" style="margin-bottom:10px" role="heading" >
  <mat-toolbar-row>
      <span><a [routerLink]="['/welcome']" routerLinkActive="router-link-active" >{{ title }}</a></span>
      <span class="example-spacer"></span>
      <span><a [routerLink]="['/liveboard']" routerLinkActive="router-link-active" >Liveboard</a></span>
      <span class="example-spacer"></span>

      <span><a [routerLink]="['/filter']" routerLinkActive="router-link-active" >Filter</a></span>
      <span class="example-spacer"></span>
      <button mat-icon-button>
          <a [routerLink]="['/settings']" routerLinkActive="router-link-active" ><mat-icon>more_vert</mat-icon></a>
        </button>
  </mat-toolbar-row>
</mat-toolbar>

<!--
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>
-->

<br>
<router-outlet></router-outlet>
<br>

<!--
<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>

<h3>Fab Buttons</h3>
<div class="example-button-row">
  <button mat-fab>Basic</button>
  <button mat-fab color="primary">Primary</button>
  <button mat-fab color="accent">Accent</button>
  <button mat-fab color="warn">Warn</button>
  <button mat-fab disabled>Disabled</button>
  <button mat-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
  </button>
  <a mat-fab routerLink=".">Link</a>
</div>
-->

