
<!--
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>
-->
<mat-toolbar color="" style="margin-bottom:10px" role="heading" >
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleMenu()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span><a [routerLink]="['/welcome']" routerLinkActive="router-link-active" >{{ title }}</a></span>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-sidenav-container class="container-sidenav">
    <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened">
      <mat-list>
        <mat-list-item>
            <span><a [routerLink]="['/welcome']" routerLinkActive="router-link-active" >Register</a></span>
        </mat-list-item>
        <mat-list-item>
            <span><a [routerLink]="['/leaderboard']" routerLinkActive="router-link-active" >Leaderboard</a></span>
        </mat-list-item>
        <mat-list-item>
            <span><a [routerLink]="['/filter']" routerLinkActive="router-link-active" >Filter</a></span>
        </mat-list-item>
        <mat-list-item>
            <a [routerLink]="['/settings']" routerLinkActive="router-link-active" >Settings</a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="['/teams']" routerLinkActive="router-link-active" >Teams</a>
      </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<br>
<br>

<!--
<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>

<h3>Fab Buttons</h3>
<div class="example-button-row">
  <button mat-fab>Basic</button>
  <button mat-fab color="primary">Primary</button>
  <button mat-fab color="accent">Accent</button>
  <button mat-fab color="warn">Warn</button>
  <button mat-fab disabled>Disabled</button>
  <button mat-fab>
      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
  </button>
  <a mat-fab routerLink=".">Link</a>
</div>
-->

