<button *ngIf='this.refreshBtn && this.users.length > 0' mat-raised-button style="width: 100%" (click)="this.refreshData()" color="accent">Refresh</button>
<mat-accordion class="example-headers-align" *ngFor="let item of users">
    <mat-expansion-panel [expanded]=true>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <div mat-card-title>{{ item.name }}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
        <mat-grid-list cols="2" [rowHeight]=220>
          <mat-grid-tile>
              <div mat-card-avatar class="example-header-image"><img width=100% class='img-avatar' src='{{ item.urlAvatar }}'></div>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-tab-group dynamicHeight>
                  <mat-tab label="Person info">
                    <div>
                      Name: {{ item.name}}<br>
                      PersonId: {{ item.userId }}
                    </div>
                  </mat-tab>
                  <mat-tab label="Face info" *ngIf=item.faces[item.faces.length-1]>
                    <div>
                      Age: {{ item.faces[item.faces.length-1].age}} <br>
                      Gender: {{ item.faces[item.faces.length-1].isMale ? 'male' : 'female' }} <br>
                      smileLevel: {{ item.faces[item.faces.length-1].smileLevel }} <br>
                      moustacheLevel: {{ item.faces[item.faces.length-1].moustacheLevel }} <br>
                      beardLevel: {{ item.faces[item.faces.length-1].beardLevel }} <br>
                      baldLevel: {{ item.faces[item.faces.length-1].baldLevel }} <br>
                      HairColor: {{ item.faces[item.faces.length-1].hairColor }} <br>
                      glassesType: {{ item.faces[item.faces.length-1].glassesType}}
                    </div>
                  </mat-tab>
                </mat-tab-group>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button style="width: 100%" (click)='this.deletePlayer(item.userId)' color="primary">Delete</button>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-accordion>
