<mat-accordion class="example-headers-align" *ngFor="let item of users">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            <div mat-card-title>{{ item.name }}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
        <div mat-card-avatar class="example-header-image"><img src='{{ item.urlAvatar }}'></div>
        <table>
          <tbody>
            <tr>
              <td>Name:</td>
              <td>{{ item.name }}</td>
            </tr>
            <tr>
              <td>PersonId:</td>
              <td>{{ item.personId }}</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-expansion-panel>
  </mat-accordion>
